<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Detalle del Producto</title>
  </head>
  <body>
    <h1>Detalle del Producto</h1>
    <div>
      <p><strong>ID:</strong> <span th:text="${producto.id}"></span></p>
      <p><strong>Nombre:</strong> <span th:text="${producto.nombre}"></span></p>
      <p>
        <strong>Descripción:</strong>
        <span th:text="${producto.descripcion}"></span>
      </p>
      <p><strong>Precio:</strong> <span th:text="${producto.precio}"></span></p>
      <p><strong>Stock:</strong> <span th:text="${producto.stock}"></span></p>
    </div>
    <a th:href="@{/productos}">Volver a la lista</a>
  </body>
</html>
